.Burger{
    margin: auto;
    height: 150px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width:500px){
    .Burger{
        width: 430px;
        height:320px;
    }
}

@media (max-width:499px) and (min-width: 200px){
    .Burger{
        width: 200px;
        height:120px;
    }
    p{
        font-size: 12px;
    }
}






