.SideDrawer{
    position: fixed;
    width: 200px;
    max-width: 70%;
    min-width: 160px;
    height: 100%;
    left: 0;
    top:0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    border: 2px solid red;

}

.LogoDrawer{
    height: 11%;
    min-width: 50px;
}

@media (min-width: 500px){
    .SideDrawer{
        display: none;
    }
}
.Open{
    transformed: translateX(0);

}
.Close{
    transform: translateX(-100%);
}
