.Button{
    background-color: transparent;
    color: white;
    outline: none;
    cursor:pointer;
    font: inherit;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
.Button:first-of-type{

}
.Success{
    color: #91ce50;
}

.Danger{
    color: #bf3813;
}
